.TitleContent{
  color: #411a75;
  align-self: center;
  margin: 3.6vh 0vw;
  font-size: 6.3vmin;
  font-weight: 500;
  text-decoration: underline;
  font-family: Merienda;

}

.SubTitleContent{
  color: #411a75;
  align-self: flex-start;
  margin: 1.8vh 0vw;
  font-size: 3.6vmin;
  font-weight: 400;
  font-family: belgrano;
}

.TextContent{
  color: #000000;
  align-self: flex-start;
  margin: 0.9vh 0vw;
  font-size: 2.7vmin;
  text-align: justify;
  font-weight: 300;
  font-family: belgrano;
}

.LinkReferenceText{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.16vmin;
  margin: 0.6vmin 0.6vw;
  padding: 0.6vmin 0.6vmin;
  color: #000;
  font-family: Merienda;
}
.LinkReferenceText:hover{
  background-color: #411a75;
  color:#fff;
  transform: scale(1.05);
  box-shadow: 0.6vmin 0.6vmin 1.8vmin #000;
}
.LinkReferenceText span{
  color:#fff;
  font-size: 1.8vmin;
  margin-right: 0.36vw;
  transform: scale(0);
}

.LinkReferenceText:hover span{
  font-size: 2.16vmin;
  transform: scale(1);
}